{% extends 'layout.html' %}

{% block content_body %}
<div class="container h-100 d-flex flex-column align-items-center">
    {% for post in posts %}

    <div class="card border-0 bg-light rounded shadow" style="min-width: 800px">
        <div class="card-body text-decoration-none">
            <div class="card-text d-flex justify-content-between text-secondary pb-1">
                <small class="text-left">#{{ post.id }}</small>
                <small class="text-right">By {{ post.author }} &sdot; {{ post.sent_at.strftime("%Y-%m-%d %H:%M")
                    }}</small>
            </div>
            <span role="button" tabindex="0" onclick="window.location.href = '/posts/{{post.id}}'">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
            </span>
            <div class="d-flex pt-3">
                <span class="me-auto">
                    {% for tag in post.tags %}
                    <span class="badge rounded-pill bg-secondary">#{{ tag }}</span>
                    {% endfor %}
                </span>
                <span class="pe-3">{{ post.num_likes }} <i class="bi bi-heart"></i></span>
                <span class="">{{ post.num_comments }} <i class="bi bi-chat"></i></span>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}