{% extends 'layout.html' %}

{% block content_body %}
<div class="container h-100 d-flex flex-column align-items-center">
    <form style="min-width: 400px; padding-top: 100px; padding-bottom: 100px;" method="POST">
        {% if last_form_error is not none %}
        <div class="alert alert-danger" role="alert">
            {{ last_form_error }}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="username-field" class="form-label">Username*</label>
            <input type="text" name="username" class="form-control" id="username-field" value="{{ last_login_name }}" required>
        </div>
        <div class="mb-3">
            <label for="password-field" class="form-label">Password*</label>
            <input type="password" name="password" class="form-control" id="password-field" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}